* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Istok Web', sans-serif;
    background-color: #f8f8f8;
    color: #000000;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: #fcfcfc;
	line-height: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.title h1 {
    font-family: 'Italiana', serif;
    font-size: 60px;
    text-align: center;
}

.title_link{
	text-decoration: none;
	color: black;
}

.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #111;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: default;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 100px;
}

.submenu {
    display: none;
    padding-left: 20px;
}

.submenu.active {
    display: block;
}
.submenu a {
    padding: 8px 8px 8px 50px;
    font-size: 22px;
}

.sub_submenu a{
	padding: 8px 8px 8px 65px;
	font-size: 20px;
}

.arrow_menu {
    font-size: 15px;
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
	padding-left: 10px;
	padding-bottom: 3px;
}

.project-detail {
    padding: 60px 20px;
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 60px auto; /* Centrer le conteneur */
}

.project-detail h1 {
    font-family: 'Italiana', serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.project-detail img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-detail .project-description,
.project-detail .project-tech,
.project-detail .project-links {
    margin-bottom: 40px;
}

.project-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #666;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.project-detail p,
.project-detail ul {
    font-size: 18px;
    margin-bottom: 20px;
}

.project-detail ul {
    list-style-type: disc;
    padding-left: 40px;
}

.project-detail a {
    color: #007BFF;
    text-decoration: none;
}

.project-detail a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}